@charset 'UTF-8';
@use "sass:math";
@use "setting" as *;
@use "mixin" as *;

//  Size
//--------------------------------------------
@function pxToRem($base-font-size) {
  @return math.div($base-font-size, 16) * 1rem;
}

@function clampVw($min, $size, $max, $vp: 1920) {
  $min: $min * 0.1rem;
  $max: $max * 0.1rem;
  $num: math.div(100, $vp) * 1vw;
  $size_vw: $num * $size;
  @return clamp($min, $size_vw, $max);
}
